@page "/form/{Id}"
@page "/form"

<PageTitle>First Static Form</PageTitle>
<h2>First Static Form</h2>
<br />


@if (DispatchDto != null)
{
    <EditForm Model="DispatchDto" OnValidSubmit="HandleSubmit">
        <ObjectGraphDataAnnotationsValidator />
        <ValidationSummary />
        @foreach (var f in DispatchDto.BlankFormDto.FormFieldDtos)
        {
            <div style="margin-bottom:0.7em">
                <InputField FormInputField="@f" />
            </div>
        }
        <button type="submit">Submit</button>
    </EditForm>
}
else
{
    <p>No form selected</p>
}

@if (!String.IsNullOrEmpty(Message))
{
    <p>
        @Message
    </p>
}




@code {
    [Inject]
    public IFormService FormService { get; set; }

    [Parameter]
    public string Id { get; set; } = string.Empty;

    public DispatchDto DispatchDto { get; set; }

    public string Message { get; set; } = string.Empty;

    public void HandleSubmit()
    {
        FormService.SubmitForm(DispatchDto);
        DispatchDto = null;
        Message = Notices.BlankFormSubmitted;
    }



    protected override async Task OnInitializedAsync()
    {
        if (!String.IsNullOrEmpty(Id))
        {
            try
            {
                DispatchDto = await FormService.GetDispatch(Id);
            }
            catch (Exception ex)
            {
                Message = ex.Message;
            }
        }
    }
}