@page "/"
@page "/{id}"

<PageTitle>First Static Form</PageTitle>
<h2>First Static Form</h2>
<br />


@if (TheForm != null)
{
    <EditForm Model="TheForm" OnSubmit="HandleSubmit">
        @foreach (var f in TheForm.FormFields)
        {
            <div style="margin-bottom:0.7em">
                <InputField FormInputField="@f" />
            </div>
        }
        <button type="submit">Submit</button>
    </EditForm>
}
else
{
    <p>No form selected</p>
}






@code {
    [Inject]
    public IFormService FormService { get; set; }

    [Parameter]
    public string Id { get; set; }

    public BlankForm TheForm { get; set; }



    public void HandleSubmit()
    {
        var inpValues = TheForm;

        var asd = 1;
    }



    protected override async Task OnInitializedAsync()
    {
        if(!String.IsNullOrEmpty(Id))
        {
            TheForm = FormService.GetBlankFormByDispatch(Guid.Parse(Id));
        }
    }
}